<% layout("/layouts/boilerplate") %>
<div class="container auth-page">
    <div class="col-6 offset-md-1 auth-form-container">
        <h1>Sign Up</h1>
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
                <div class="valid-feedback">looks good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div class="invalid-feedback">email required!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="invalid-feedback">password required!</div>
            </div>
            <button class="btn ad-btn btns">signup</button>
        </form>
    </div>
</div>